Data structures - Collection of data of hetrogeneous

In [3]:
print("""List        : Ordered Changeable          Duplicates
Tuple       : Ordered Unchangeable        Duplicates
Set         : Unordered Addable/removable No Duplicates
Dictinonary : Unordered changeable        No Duplicate
    """)

List        : Ordered Changeable          Duplicates
Tuple       : Ordered Unchangeable        Duplicates
Set         : Unordered Addable/removable No Duplicates
Dictinonary : Unordered changeable        No Duplicate

## List

In [7]:
L = [1,3,4.9,"Ram",3]
T = (1,3,4.9,"Shyam",3)
S = {1,3,4.9,"Vyam",3}
D = {23:"Twothree" , "Fivethree":53,4.5:'Fourpointfive'}
print(type(L))
print(type(T))
print(type(S))
print(type(D))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In a statically typed language, data types are defined during compile time and cannot change during runtime. This behavior is because of static type checking. In contrast, dynamic typing allows variables to change their data type during runtime.

## Access Method - []

In [8]:
print(L[1])

3

In [15]:
L

[1, 3, 4.9, 'Ram', 3]

## Indexing

In [16]:
L[1]

3

## Sub List (Slicing)

In [17]:
L[1:3]

[3, 4.9]

In [18]:
L[::-1]

[3, 'Ram', 4.9, 3, 1]

List are mutable and we can change list means we can add and remove 
elements from list

Can Concatinate two list using + Operator
Can add element using + operator
Can add element using append operator which is way faster

In [ ]:
# When we do slicing in simple list and tuple it will create a totally 
# different memory
L3 = L[1:3]
L3[1] = 5
print

## Add Elements In List

In [24]:
L.append(5)
L

[1, 3, 4.9, 'Ram', 3, 5, 5]

In [26]:
L = L + [7]
L

[1, 3, 4.9, 'Ram', 3, 5, 5, 7, 7]

## Delete Element In List

In [29]:
del L[1]# - Delete Whole list

In [ ]:
del L # - Delete Whole list

In [42]:
L

[1, 4.9, 'Ram', 3, 5, 5, 7, 7]

In [46]:
L2 = L
L2
# Both are not different things both are pointing to same address
# If i change some in L it will happen in L2 as well
# It is knonwn as referencing
L[1] = 2
print(L)
print(L2)

[1, 2, 'Ram', 3, 5, 5, 7, 7]
[1, 2, 'Ram', 3, 5, 5, 7, 7]

## Copy function

In [49]:
L3 = L.copy()
L3
L[1] = 4.9
print(L)
print(L3)

[1, 4.9, 'Ram', 3, 5, 5, 7, 7]
[1, 2, 'Ram', 3, 5, 5, 7, 7]

## Tuple

## Access Method - []

In [9]:
print(T[1])

3

In [19]:
T

(1, 3, 4.9, 'Shyam', 3)

## Indexing

In [22]:
T[1]

3

## Sub Tuples (Slicing)

In [20]:
T[1:3]

(3, 4.9)

In [21]:
T[::-1]

(3, 'Shyam', 4.9, 3, 1)

Tuples are immutable so we can not change tuple means can not delete 
updatae or add elements

## Add two tuples

In [31]:
T1 = ('a' , 'b' , 45)
T2 = ('Ram' , 'Shyam' , 42.5)
T3 = T1 + T2
T3
# New Memory will be created because we can not change the list

('a', 'b', 45, 'Ram', 'Shyam', 42.5)

In [ ]:
# We can not delete elements from tuples

In [ ]:
# Copy funciton is not avaliable in tuples

## Set

## Access Method - in

In [10]:
print(3 in S)

True

In [14]:
S
# S does not contain duplicates and do not maintain order

{1, 3, 4.9, 'Vyam'}

We can add new elements in set using add function and if we want to add 
more than one element than we can use update method as well

In [36]:
S.add(56)
S

{1, 23, 3, 4.9, 56, 'Vyam', 'game'}

In [34]:
# Multiple Addition
S.update({23,"game" , 1})

In [35]:
# We can remove element from set using remove

In [37]:
D

{23: 'Twothree', 'Fivethree': 53, 4.5: 'Fourpointfive'}

## Copy function

In [52]:
S3 = S.copy()
print(S)
print(S3)

{1, 'Vyam', 3, 4.9, 'game', 23, 56}
{1, 'Vyam', 3, 4.9, 'game', 23, 56}

## Dictinonary

## Access Method - []

In [11]:
print(D[23])

Twothree

## Insertion in Dict

In [41]:
D

{23: 'Twothree', 'Fivethree': 53, 4.5: 'Fourpointfive', 'New Key': 'New Value'}

In [39]:
D['New Key'] = "New Value"
D

{23: 'Twothree', 'Fivethree': 53, 4.5: 'Fourpointfive', 'New Key': 'New Value'}

## Concatination of Two Dict Not Possible

In [ ]:
D2 = {1:2 , "S":"R"}
D3 = D + D2
D3

## Delete

In [ ]:
We can delete the element from dict using del

In [ ]:
del D["Val"]
del D

In [ ]:
# Dictnoray is kind of set of unique pairs to add we can use update as 
# well

## Copy Function

In [53]:
D3 = D.copy()
print(D)
print(D3)

{23: 'Twothree', 'Fivethree': 53, 4.5: 'Fourpointfive', 'New Key': 'New Value'}
{23: 'Twothree', 'Fivethree': 53, 4.5: 'Fourpointfive', 'New Key': 'New Value'}

## Methods for list

In [2]:
L = [1,2,3,4,5]

Append
# Append element in end of list

In [3]:
L.append(6)

Clear
# Clear the list

In [ ]:
L.clear()

Pop
# Delete the last element if index is not given or if index is given then
# delete that element

Reverse 
# Reverse the list

In [ ]:
L.reverse()

In [4]:
L[::-1]

[6, 5, 4, 3, 2, 1]

In [ ]:
# Any kind of data can be stored in any kind of data structure

# Abstraction of these Data structure

In [7]:
L1 = [L  , 23 , 2.3 , "23" , True]
L1

[[1, 2, 3, 4, 5, 6], 23, 2.3, '23', True]

In [8]:
L3 = [x**2 for x in range(10)]
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
S3 = {x**2 for x in range(2,20,3)}
S3

{4, 25, 64, 121, 196, 289}

In [13]:
def getDataFromUser():
    D = {}
    while True:
        studentId = int(input("Enter Student Id"))
        marksList = input("Enter the marks by comma separted values : ")
        moreStudents = input("Enter 'no' to quit ")
        if(studentId in D):
            print(studentId , "Also present")
        else:
            D[studentId] = marksList.split(',')
        if moreStudents.lower() == "no":
            return D

In [18]:
D = getDataFromUser()
for x in D:
    L = D[x]
    sum = 0
    for marks in L:
        sum = sum + int(marks)
    print(sum//len(L))

Enter Student Id1
Enter the marks by comma separted values : 1,2,3,56
Enter 'no' to quit gfh
Enter Student Id2
Enter the marks by comma separted values : 1,2,58,69
Enter 'no' to quit no
15
32