## For Loop

## For loop for strings

In [2]:
s = "abcd"
for c in s:
    print(c , end='')

abcd

## For loop for numbers Range(start , stop , stride)

In [7]:
# All Argument
n = int(input())
for i in range(1,n+1,1):
    print(i , end=' ')

5
1 2 3 4 5

In [ ]:
# By default 
# start = 0
# stride/step = 1

In [9]:
# One Agrument
n = int(input())
for i in range(n+1):
    print(i , end=' ')

5
0 1 2 3 4 5

In [ ]:
# It will not work becuase it will take first as start and second as end

In [10]:
# Two Arguments
n = int(input())
for i in range(1,n+1):
    print(i , end=' ')

5
1 2 3 4 5

In [11]:
# Two Arguments
n = int(input())
for i in range(n+1 , 1):
    print(i , end=' ')

5

## Numbers from N to 1

In [13]:
n = int(input())
for i in range(n , 0 , -1):
    print(i , end=' ')

5
5 4 3 2 1

In [ ]:
# To print till 1 we have to take end as 0

## Numbers from a to b which are multiple of 3

In [14]:
a = int(input())
b = int(input())

for i in range(a , b+1 , 1):
    if i%3 == 0:
        print(i)

1
100
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [15]:
a = int(input())
b = int(input())
s = n+3-(n+3)%3
for i in range(s , b+1 , 3):
    if i%3 == 0:
        print(i)

5
100
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

## Check Number prime or not

In [20]:
n = int(input())
flag = False
for d in range(2,n ,1):
    if n%d == 0:
        flag = True
if flag == True:
    print("Not Prime")
else:
    print("Prime")

6
Not Prime

## Break

In [1]:
i = 1
while i<10:
    if(i == 5):
        break
    print(i)
    i = i + 1

1
2
3
4

In [3]:
# Prime Number
n = int(input())
flag = False
for d in range(2,n ,1):
    if n%d == 0:
        flag = True
        break
if flag == True:
    print("Not Prime")
else:
    print("Prime")
    
# Break works same in both for loop and while loop
# Break will break loop just above it not all in case of nested loops

6
Not Prime

## Else with loops

In python we can use else with loop as well. Code inside else will not run if loop end with break statement

In [10]:
i = 1
while(i<10):
    if(i == 5):
        print("Not Prime")
        break
    print(i)
    i = i + 1
else:
    print("Prime")

1
2
3
4
Not Prime

In [11]:
n = int(input())
flag = False
for d in range(2,n ,1):
    if n%d == 0:
        print("Not Prime")
        flag = True
        break
else:
    print("Prime")

5
Prime

In [1]:
n = int(input())
d = 2
while(d<n):
    if n%d == 0:
        print("Not Prime")
        break
    d = d + 1
else:
    print("Prime")

5
Prime

## Continue

Break is used to break the loop
Continue used to skip an iteration in loop

In [4]:
i = 1
while(i<10):
    if(i == 5):
        i = i + 1
        continue
    print(i)
    i = i + 1

1
2
3
4
6
7
8
9

## Print All Even Numbers

In [5]:
n = int(input())
for i in range(2,n+1 , 1):
    if(i%2 != 0):
        continue
    print(i)

100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## Pass Keyword

If i do not want to write something in if then we can use pass. Can be used for todo for future . Kind of dummy code

In [7]:
i = 3
if i < 7:
    pass
print("Hey")

Hey