In [ ]:
1.) Intro
2.) Print
3.) Variables
4.) Naming Of Variables
5.) Assignment of data to variables
6.) typeof Operator -> <class str>
7.) How data is stored in python
8.) Id of address
9.) Range of integers
10.) Arithmatic Operators

## Intro

## Hello World

In [1]:
print("HelloWorld")
print("Hello")

HelloWorld
Hello

## Variables

In [1]:
# Variables are the containers to store data
# Variables in python are different we need not to mention what kind
# of data a variable is going to store in future. 
# There is no need to mention data type

In [2]:
a = 10
b = 20
10
a + b  
# We did not printed but the output is printed becuase that is output 
# of last line of code in this cell . There are two ways to print output

30

In [3]:
a = 10
b = 20
c = a + b
print(c)

30

In [ ]:
# Naming of variables
# 1. Variable names can only contain letters, numbers and underscores
# 2. Variable names cannot start with a number
# 3. Variable names are case sensitive
# 4. Variable names cannot contain spaces, use camel case instead
# 5. Variable names cannot contain special characters
# 6. Variable names should be descriptive, without being too long

## Assigning different type of data to a varibale

In [4]:
a = 10
b = 20 
a = "httha"
a

'httha'

## Type Operator

In [3]:
a = "abc"
print(type(a))
a = 10
a
type(a)

<class 'str'>

int

In [6]:
a = 23
b = 3.4
c = 3+5j
print(a)
print(b)
print(c)
print()
print(type(a))
print(type(b))
print(type(c))

23
3.4
(3+5j)

<class 'int'>
<class 'float'>
<class 'complex'>

## How data is stored in python

In [8]:
a = 10
a = a+1
# How it works

# Before
# a----->[Meta Data | 10]

# After
# a  -  >[Meta Data | 10]
# a----->[Meta Data | 11]

In [ ]:
# In python data is stored in memory and variable contains address of memory
# This is why we can put any type of data in any variable because any time value
# changes a new memory block is created and then variable starts points towards 
# the new memory space

## ID

In [ ]:
# Id -> Id gives unique number then it will give unique number related to 
# this storage

In [9]:
# Exception Both a and b pointing same address (Optimization) This is not same for all number
# And python do this optimization between -5 to 256
a = 10
b = 10
print(id(a))
print(id(b))

140728648176712
140728648176712

In [10]:
a = 1000
b = 1000
print(id(a))
print(id(b))

1923104428496
1923104437456

## Range of Integers

In [ ]:
# In python there is not limit for a variable to store data 
#. The only limit is the memory

## Airthmatic Operators

In [6]:
a = 10
b = 20

## + Operator

In [5]:
c = a + b
print(c)

30

## - Operator

In [15]:
c = b - a
print(c)

10

## * Operator

In [16]:
c = b*a
print(c)

200

## / Operator

In [4]:
c = b/a
print(c)

2.0

## // Operator (Int Division)

In [18]:
c = b//a
print(c)

2

## ** Operator (Power Operator)

In [19]:
c = b**a
print(c)

10240000000000

## % Operator (Modulas Operator)

In [20]:
c = b%a
print(c)

0

## Operator Precedence

In [21]:
2+3*4 # 14 or 20

14

In [22]:
2*3//4 # 0 or 1

1

In [ ]:
# To avoid these confusion we should brackets

## Simple Interest

In [24]:
p = 100
r = 12
t = 2
si = (p*r*t)//100
si

24

## Farenhite to celcious

In [25]:
f = 100
c = (f-32)*5//9
c

37

## Taking Input from user

In [26]:
input()

5

'5'

In [27]:
a = input() # -> This will give you a string
print(type(a))
print(a)

5
<class 'str'>
5

## Int Input

In [28]:
b = 3.4
c = int(b)
print(c)

3

In [29]:
b = int(input())
print(b)

5
5

In [30]:
b = '3bb4' # -> It will error 
c = int(b)
print(c)

ValueError: invalid literal for int() with base 10: '3bb4'

## Float Input

In [31]:
c = float(input())
print(c)

5
5.0

In [32]:
s = "4.5d" # -> It will give error
float(s)

ValueError: could not convert string to float: '4.5d'